.sheet_bar{
    margin-bottom:0px!important;
    position: relative;
    cursor: pointer;
    transition: 10s;
}
.sheet_bar .progress_bar{
    background-color:#1f74bd;
    height:2px;
}

.sheet_bar .knot{
    height: 13px;
    width: 13px;
    background-color: #1f74bd;
    border-radius: 50%;
    position:absolute;
    top:-6px;
    
}
.sheet_bar_hover{
  padding:3px; /* Equal to scaleX(0.7) scaleY(0.7) */
}
.sheet_bar .knot_hover{
    transform: scale(1.5); /* Equal to scaleX(0.7) scaleY(0.7) */
    top:-4px;
}